.paragrafo-messages {
   
    text-align: left;
    /* border: 1px solid #000; */
    margin-left: 5.2em;
    /* padding: 1.3em; */
    width: 20em;
    /* border-radius: 20px; */
}

.container-messages {
     margin-top: 30px;
 
}