.navbar-positioning {
    display: flex;
    justify-content: end;
}

.anchor-style {

    color: #fff;
    

}

.anchor-style:hover, .anchor-style:focus,.anchor-style:active {
    color: #ffbb33;
    border-bottom:2px solid #ffbb33 ;
}


.nav-style {
    background-color: #222;
}

.ul-style {
    margin-right: 3em;
}