.titulo-projeto {
    margin-top: 60px;
    margin-left: 1em;
    text-align: left;
    font-weight: bold;
}

/* .icon-projeto {
    color: green;
    padding:15px;
    

} */

.container-items {
    display: flex;
    justify-content: space-between;
}

.container-projeto {
    display: flex;
    flex-direction: column;
    width: auto;
    box-sizing: border-box;
}

.container-messages {
    box-sizing: border-box;
    width: auto;
    display: flex;
    justify-content: start;
}

.button-projeto-style {

    background-color: #222;
    color: white;
    text-decoration: none;
    border:1px solid #ffbb33;
    box-shadow: none !important;
    margin-right: 30px;
    margin-top: 60px;
    height: 3.3em;
    
    box-sizing: border-box;
}

 .button-projeto-style:hover,  .button-home-style:active,.button-home-style:focus, .button-home-style:visited {

    background-color: black !important;
    border: #ffbb33;
    outline: #ffbb33;
    box-shadow: 2px 2px #ffbb33 !important;
    color: #ffbb33 !important;
}